html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, button, input{
  margin: 0;
	padding: 0;
	border: 0;
}