body {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/Фон\ 1.png);
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}
.header {
  height: 58px;
  background: rgba(0, 0, 0, 0.40);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFF;
}
.header h1:hover{
  transition: all ease 0.3s;
  color: #3CB878;
}
.container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
}
.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.welcome span:hover {
  transition: all ease 0.3s;
  color: #3CB878;
}
.header-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  align-items: center;
  width: 126px;
  border-right: white;
}
svg{
  width: 24px;
  height: 24px;
  fill: white;
}
path:hover{
  fill: #3CB878;
  transition: all ease 0.3s;
}
.header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
  display: inline;
}
.login {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sign {
  padding-left: 4px;
}
.sign span:hover {
  transition: all ease 0.3s;
  color: #3CB878;
}
.line {
  width: 1px;
  height: 19px;
  opacity: 0.5;
  background: rgba(255, 255, 255, 0.90);
  margin-right: 28px;
  margin-left: 20px;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form {
  width: 444px;
  height: 584px;
  background: #FFF;
  margin-top: 64px;
  position: relative;
}
.green-shape {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #3CB878;
  top: 30px;
}
.form .container {
  margin: 0 auto;
  width: 322px;
  display: flex;
  flex-direction: column;
}
.form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 16px;
}
.form h2 {
  color: #434343;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; 
  padding-top: 30px;
  padding: 0;
}
.form p {
  color: #3CB878;
  font-size: 14px;
  font-weight: 400;
}
form {
  display: flex;
  flex-direction: column;
}
.socials {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 160px;
  height: 48px;
  background-color: #305DB8;
  border-radius: 3px;
  border: none;
  padding-left: 10px;
}
.facebook p {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}
.facebook:hover{
  background-color: #022263;
}
.form .line {
  height: 28px;
  opacity: 0.1;
  background: #0A162F;
  margin-left: 13px;
  margin-right: 18px;
}
.google {
  background-color: #DF4A32;
}
.google:hover {
  background-color: #AB1F09;
}
.google-icon {
  width: 30px;
  height: 19px;
  background-image: url(/img/G+.svg);
}
.google p {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}
.or-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.or-line div {
  display: block;
  content: '';
  width: 152px;
  height: 1px;
  background: #F2F2F2;
}
.or-line p {
  color: #848484;
  font-size: 14px;
  font-weight: 400;
}
input {
  width: 324px;
  height: 44px; 
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  margin-bottom: 14px;
  padding-left: 20px;
}
form {
  margin-top: 12px;
}
input::placeholder {
  color: #BEBEBE;
}
input[type="text"]:focus {
  color: #000000;
  border: 1px solid black;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}
input[type="email"]:focus {
  color: #000000;
  border: 1px solid black;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}
input[type="password"]:focus {
  color: #000000;
  border: 1px solid black;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}
.check {
  color: #434343;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.check input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #F2F2F2;
  margin: 0px 8px 0px 0px;
}
input[type="checkbox"]:focus {
  outline: solid 1px #F2F2F2;
  outline-offset: 2px;
}
.check a {
  margin-left: 4px;
  color: #3CB878;
}
.check a:hover {
  text-decoration: underline;
}
.check:focus{
  background-image: url(/img/Vector\ 1\ —\ копия.svg);
}
.create {
  width: 324px;
  height: 46px;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.80);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}
.create:hover {
  background-color: #01813F;
}